/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

$corn: #FFCD00;
$soybeans: #89C732;
$canola: #FFCD00;
$wheat: #F39861;
$sorghum: #F3590B;
$alfalfa: #B33893;
$milo: #F3590B;
$potatoes: #FFD57C;
$peas: #89C732;
$barley: #FFD57C;
$hay: #FFCD00;
$oats: #FFAB00;
$cotton: #B33893;
$beets: #B33893;
$grass: #89C732;
$rice: #FFAB00;
$grapes: #B33893;
$sunflowers: #FFCD00;
$rye: #FFD57C;
$spinach: #89C732;
$beans: #89C732;
$other: #0097CD;

$lightgrey: #f2f2f2;
$lightgrey2: #e6e6e6;
$lightgrey3: #d2d2d2;
$greyborder: #CCCCCC;
$medgrey: #808080;
$medgrey2: #989898;
$white: #ffffff;
$charcoal: #373B41;
$midnight: #282C33;
$nogrey: #DEDEDE;
$blue: #00A2E1;
$green: #8CC63F;
$darkgreen: #118B4A;
$red: #F15A22;
$orange: #FFAB17;
$lightorange: #FFCD00;
$salmon: #F29966;
$tan: #FFD582;
$todo: $red;
$inprogress: $green;
$complete: $blue;
$primary: $blue;
$linkhover: #0976A0;
